::-moz-selection { 
	background-color: #FEFFBA;
	color: #000; 
}
::selection { 
	background-color: #FEFFBA;
	color: #000; 
}

@font-face{
	font-family: 'odin_rounded';
	font-weight: normal;
	src: url('font/odin_rounded_regular.OTF') format('opentype');
}

@font-face{
	font-family: 'odin_rounded';
	font-weight: bold;
	src: url('font/odin_rounded_bold.OTF') format('opentype');
}

/***** General ******/

iframe{
	display: none;
}
a:hover,a:active,a:focus{
	outline:none;
}
.m0{
	margin:0;
}
.p0{
	padding:0;
}
.required{
	color: #FF321E;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    padding-left: 5px;
}
.position-relative{
	position:relative;
}
.block-table{
	display: table;
}
.block-table-middle{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.image-center{
	right: 0;
	left: 0;
	margin: 0 auto;
}
.no-resize{
	resize:none;
}

/***** Footer *****/

#footer{
	background-color: #000;
	color: #fff;
}
#footer hr{
	border-color: #9d9d9d;
}
#footer ul{
	list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
#footer ul li{
	display: inline;
    float: left;
    margin-right: 2em;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	text-decoration: none;
	color: #9d9d9d;
}

/***** Navbar *****/

.navbar-yellow{
	background-color:#FFE44F;
	border: none;
	-webkit-box-shadow: 1px 1px 8px 0 rgba(160,160,160,.7);
	box-shadow: 1px 1px 8px 0 rgba(160,160,160,.7);
}
.navbar-yellow .options-button{
	padding-right: 25px;
    padding-left: 25px;
    background-color: #FEFEF6;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover{
	color: #777;
}
.navbar-yellow .navbar-nav>li>.options-button:hover,
.navbar-yellow .navbar-nav>li>.options-button:focus,
.navbar-yellow .navbar-nav>li>.options-button:active{
    background-color: #F2F0F1;
}
.navbar-inverse .navbar-nav>li>a{
	color: #000;
}
.sub-nav{
	position:relative
}
.user-nav ul{
	margin:0;
	padding:15px;
}
.user-nav li{
	list-style:none;
}
.options-menu{
	padding:15px;
}
.options-menu .dropdown-menu{
	padding: 8px 0;
	background-color: #333;
	border-radius: 0;
	right: 15px;
}
.dropdown-menu>li>a{
	color: #fff;
	padding: 5px 20px;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
	background-color: #000;
	color: #FFE44F;
}
.xs-options .nav-options-list{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	background-color: #333;
}
.xs-options .nav-options-list>li>a{
	color: #fff;
}
.xs-options .nav-options-list>li>a:hover{
	background-color: #000;
	color: #FFE44F;
}
.options-menu .dropdown-menu:before,
.options-menu .dropdown-menu:after{
	content: " ";
    display: block;
    position: absolute;
    top: -10px;
    right: 40px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c4c4c4;
}
.options-menu .dropdown-menu:after{
	top: -9px;
    border-bottom: 10px solid #333;	
    z-index: 1;
}
.options-menu-inside{
	padding: 23px;
}
.logout{
	padding-bottom: 17px;
	color: #444;
}
.logout:hover,
.logout span:hover{
	background-color: #eee;
	text-decoration: none;
	cursor: pointer;
	color: #444;
}
.nav .open .logout,
.nav .open .logout:hover{
	background-color: #eee;
}
.options-button .fa{
	font-size: 26px;
    top: 11px;
    right: 34px;
    position: absolute;
}
.fa-rotating-animation{
	-webkit-animation: rotating 35s linear infinite;
	-moz-animation: rotating 35s linear infinite;
	-ms-animation: rotating 35s linear infinite;
	-o-animation: rotating 35s linear infinite;
	animation: rotating 35s linear infinite;
}


/***** Buttons *****/
.btn{
	padding: 6px 24px;
}
.btn-fat{
	width:100%;
}
.btn-shadow{
	-webkit-box-shadow: 0px 3px 2px 0 rgba(200,200,200,1);
	box-shadow: 0px 3px 2px 0px rgba(200,200,200,1);
}
.btn.btn-yellow{
	color: #333;
	background-color: #FFE44F;
	font-size:16px;
    font-weight: 500;
	border-radius:6px;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:active,
.btn.btn-yellow:focus{
	background-color: #FEFFAA;
}
.btn.btn-gray{
	color: #555;
	background-color: #ededed;
	border: 1px solid #dadada;
	font-size: 16px;
	font-weight: 500;
}
.btn.btn-gray:hover,
.btn.btn-gray:active,
.btn.btn-gray:focus{
	background-color:#dadada;
	outline:none;
}
.btn.btn-black{
	color: #fff;
	background-color: #000;
	font-size: 14px;
	font-weight: 300;
	padding: 6px 36px;
}
.btn.btn-black:hover,
.btn.btn-black:active,
.btn.btn-black:focus{
	background-color:#444;
	outline:none;
}
.btn.btn-clear{
	color:#333;
	background-color:#fff;
	border:1px solid #c4c4c4;
	font-size:16px;
    font-weight: 500;
}
.btn.btn-clear:hover,
.btn.btn-clear:active,
.btn.btn-clear:focus{
	background-color:#eaeaea;
	outline:none;
}
.btn-group{
	position: relative;
}
.btn-right{
	float:right;
}
.btn-file{
	cursor:pointer;
	z-index:2;
}
.btn-file input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
	cursor:pointer;
    display: block;
}
.btn-file-text{
	padding-left:10px;
}

/***** Tables ******/

.table-border {
    border-color: rgba(221, 221, 221, 0.3);
}


/***** Image profile ******/

.image-container{
	overflow:hidden;
}
.image-container.large{
	max-height:200px;
	max-width:200px
}
.image-container img{
	position: relative;
	width: 100%;
}
.ezdz-dropzone{
	border-radius: 3px;
	min-width: 350px;
	max-width: 420px;
	height: 200px;
	line-height: 180px;
	border: 2px dotted #ccc;
}
.ezdz-dropzone.ezdz-accept{
	border: 1px solid #ccc;
}
.ezdz-dropzone div{
	color: #aaa;
}
.ezdz-dropzone img{
	max-width: 100%;
    max-height: 100%;
}
.ezdz-dropzone span{
	position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #aaa;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
}
.input-group-addon{
	background-color: #fff;
}
img.pig{
	max-width: 350px;
	margin: 0 auto;
}

/***** Modal *****/

.modal-content{
	overflow: hidden;
	border-radius: 0;
}
.modal-header{
	background-color: #FFE44F;
}
.modal-header .title{
	margin: 0;
    font-size: 22px;
}
.modal-dialog.loading{
	background-color: #F8F9D8;
	height: 150px;
}
.modal-title-out{
	position: relative;
}
.modal-title-out:after{
	position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 1px;
    background: #e3e3e3;
    content: '';
    z-index: 5;
}
.modal-title-out h1{
	margin:20px 0;
	font-size:22px;
	text-align: center;
}
.modal-title-out .text{
	position: relative;
    z-index: 6;
	left: 4px;
    padding: 0 10px;
    background: #fff;
}

/***** list *****/

.web-list-item{
	margin-bottom: 15px;
	margin-right: 7px;
    display: inline-block;
}

.web-list-item a{
	padding: 5px 10px;
	padding-bottom: 10px;
	font-size: 16px;
	color: #fff;
    background-color: #000;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.web-list-item .full{
	border-radius: 5px;
}

.web-list-item a:hover{
	text-decoration:none;
}

.web-list-item .remove-link{
	color: #fff;
	background-color: #DE1414;
	border-radius:0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.web-list-item .remove-link:hover{
	background-color: #F90303;
}

/***** Inputs *****/

.textControl{
	position: relative;
}
.letter-control{
	position: absolute;
	color: #aaa;
    bottom: 6px;
    right: 15px;
	background-color: #fff;
    padding: 2px;
}
.letter-control.regular{
	bottom: 10px;
}
.input-regular{
	border-radius: 2px;
    height: 40px;
    padding: 12px 15px;
}
select.input-regular{
	padding: 6px 12px;
}
.note-editor.note-frame{
	border-color: #ccc;
}
.note-btn-group .dropdown-menu li>a{
	color: #333;
}
.note-btn-group .dropdown-menu li>a:hover,
.note-btn-group .dropdown-menu li>a:active{
	color: #FFE44F;
}

/***** Paginación *****/

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.pagination>li>a, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color: #000;
}

/***** Boteadora *****/

body.default-body{ 
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
}
.section-gray{
	position: relative;
	background-color:#ededed;
}
.section-space{
	color: #fff;
	padding-top: 10px;
	position: relative;
	background-color: #2b2b2b;
	min-height: 550px;
	overflow: hidden
}
.section-space [class^="stars-"]{
	position: absolute;
	width: 30%;
    top: 50px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.section-space .stars-left{
	left: 30px;
}
.section-space .stars-right{
	right: 30px;
}
.section-space .world{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -310px;
	margin: 0 auto;
}
.rotating {
	-webkit-animation: rotating 90s linear infinite;
	-moz-animation: rotating 90s linear infinite;
	-ms-animation: rotating 90s linear infinite;
	-o-animation: rotating 90s linear infinite;
	animation: rotating 90s linear infinite;
}
.section-space h1{
	font-family: 'odin_rounded';
	letter-spacing: 2px;
	text-transform: uppercase;
}
.section-space p{
	padding: 0 45px;
}
.section-space .jump{
	bottom: 30px;
	left: 0;
	right: 0;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
}
.section-space .jump a{
	font-size: 20px;
	font-weight: 600;
	color: #565752;
}
.section-space .jump a:hover,
.section-space .jump a:active,
.section-space .jump a:focus{
	text-decoration: none;
}
.section-space .jump a i{
	font-size: 25px;
}
.important-anchor{
	color: #333;
	font-weight: 900;
}
.important-anchor:hover,
.important-anchor:focus,
.important-anchor:active{
	outline: none;
	text-decoration: none;
	color: #999;
}
.nano-thumb{
	position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    top: -1px;
}
.thumbnail.no-frame{
	padding: 0;
    border: none;
}
.projects-grid{
	width: 100%;
	margin-top: 30px;
	margin-bottom:25px;
}
.project-box{
	display: inline-block;
    width: 300px;
	margin: 0 5px;
	background-color: #fff;
    border-radius: 10px;
	margin-bottom: 15px;
}
.project-box .image-container{
	width:100%;
	max-height:190px;
	background-color:#9d9d9d;
	overflow:hidden
}
.project-box .image-container img{
	width: 100%;
}
.project-box .title-container{
	margin: 15px 0 10px 0;
	height: 130px;
	overflow: hidden;
}
.project-box .title{
	margin-top: 0;
	font-size: 20px;
}
.title a{
	color: #333;
}
.title a:hover{
	color: #333;
	text-decoration: none;
}
.project-box .case{
	padding: 1px 10px;
	border-left:1.7px solid #c4c4c4;
	border-right:1.7px solid #c4c4c4;
	border-bottom:1.7px solid #c4c4c4;
}
.project-box .description{
	font-size: 13px;
    text-align: justify;
}
.project-image{
    left: 0;
    width: 100%;
	max-width: 900px;
	max-height: 325px;
}
.project-image.thumb{
	position: absolute;
    top: 0;
    height: 100%;
}
.boteadora-footer{
	max-width: 160px;
    padding: 0 12px;
}
.boteadora-header{
	max-width: 180px;
    padding: 0 12px;
}
.boteadora-header:hover{
	opacity: .7;
}
.navbar-inverse .navbar-toggle{
	border: none;
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color: #000;
}
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:active .icon-bar{
	background-color: #fff;
}
.navbar-collapse.menu-collapse{
	background-color: #fff;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 500px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border: none;
}
.white-container{
	background-color: #fff;
	border-radius: 4px;
	padding: 25px 20px;
	margin: 12px 0;
	-webkit-box-shadow: 1px 1px 8px 0 rgba(160,160,160,.7);
    box-shadow: 0px 3px 2px 0px rgba(200,200,200,1);
}
.affix,
.affix-top,
.affix-bottom{
	width: 300px;
}
.affix-bottom {
  position: absolute;
 }
.title{
	font-size: 24px;
	margin: 10px 0;
}
.title.rounded{
	font-family: 'odin_rounded';
}
.title-block{
	margin: 4px 0 14px;
    font-size: 22px;
    color: #8a8a8a;
    font-weight: 300;
}
.title.page{
	margin: 30px 0 25px 0;
	border-left: 5px solid #ffe44f;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 12px;
}
.title.page .inside{
	font-size: 14px;
    margin-top: 6px;
    padding-bottom: 3px;
    text-transform: initial;
    color: #555;
}
.title.profile{
	margin: 0 0 12px 0;
    font-size: 22px;
    font-weight: 600;
}
.title.grid{
	margin-top: 40px;
}
.grid.btn{
	margin-top: 35px;
    margin-right: 15px;
}
.small-quote{
	font-weight: 400;
    color: #8a8a8a;
    padding: 0 12px;
}
.no-banner{
	width: 100%;
    height: 300px;
    background-color: #fff;
    text-align: center;
	overflow: hidden;
	border: 3px dotted #ccc;
}
.title-uppercase{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 22px;
}
.text-white{
	color: #fff;
}
.text-uppercase{
	letter-spacing: 2px;
}
.text-pipe{
	border-color:#c4c4c4;
}
.parallax-window {
    background: transparent;
}
.parallax-content-height{
	padding: 70px 30px;
}
.top-project{
	margin: 30px;
}
.top-project .title{
	margin: 20px 0 10px 0;
	text-transform: uppercase;
}
.top-project .title.top{
	margin-bottom: 26px;
}
.top-project .sub-title{
	font-size: 20px;
	margin: 5px 0;
}
.top-project .image{
	background-color: #9d9d9d;
	width: 300px;
    max-height: 190px;
	right: 0;
    left: 0;
    margin: 0 auto;
	overflow: hidden;
}
.top-project .float-box{
	position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
}
.top-project .time-title{
	color: #fff;
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
}
.form-label{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.left-chunk{
	position: absolute;
}
.right-chunk{
	padding-left:240px;
	max-width: 700px;
	min-height: 260px;
}
.bottom-button-place{
	margin: 25px 0 60px 0;
}
.progress{
	height: 12px;
	border-radius: 10px;
}
.progress-bar{
	background-color: #FFE44F;
}
.cipher{
	margin: 0;
    font-weight: 600;
    font-size: 17px;
}
.cipher.border{
	border-right: 1px solid #D5D5D5;
}
.project img{
	width: 100% !important;
}
.white-macro{
	padding: 28px 12px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 12px;
}

/**** Media-querys ****/

@media(max-width: 1199px){
	.top-project .image{
		width: 250px;
	}
	.add-trap span{
		display: none;
	}
	.add-trap:before{
		content: '+';
	}
}
@media(max-width: 1100px) and (min-width: 901px){
	.section-space{
		min-height: 490px;
	}
	.section-space h1{
		font-size: 30px;
	}
	.section-space .world{
		width: 550px;
	}
	.section-space .jump{
		bottom: 15px;
	}
}
@media(max-width: 900px) and (min-width: 768px){
	.top-project .image{
		width: 210px;
	}
	.section-space{
		min-height: 420px;
	}
	.section-space h1{
		font-size: 26px;
	}
	.section-space .world{
		width: 450px;
		bottom: -270px;
	}
	.section-space .jump {
		bottom: 8px;
	}
}
@media(max-width: 782px) and (min-width: 768px){
	.boteadora-header {
		max-width: 158px;
		padding: 0 6px;
	}
}
@media(max-width: 768px){
	#footer ul{
		margin-top: 20px;
		border-left: 1px solid #fff;
	}
	#footer ul li{
		display: block;
		float: none;
		margin-top: 5px;
		margin-left: 2em;
	}
	.thumbnail{
		margin: 0 auto 20px;
		max-width: 350px;
	}
	.project-box{
		display: block;
		margin: 0 auto 20px;
	}
	.projects-grid{
		margin-top: 15px;
	}
	.boteadora-footer{
		display: block;
		margin: 10px auto 20px;
	}
	.section-space{
		min-height: 350px;
	}
	.section-space h1{
		font-size: 22px;
		letter-spacing: 1px;
	}
	.section-space .world{
		display: none;
	}
	.section-space .jump a{
		color: #fff;
	}
	.ezdz-dropzone{
		min-width: 0;
		max-width: 500px;
		width: 100%;
		height: 170px;
		line-height: 125px;
	}
	.small-quote{
		display: block;
		padding: 0;
	}
	.form-group .row .p0,
	.form-group .row .pr0{
		padding-right: 15px;
		padding-left: 15px;
	}
	.form-group .row .btn-gray{
		margin-top: 10px;
		float: right;
	}
	#urls-web{
		text-align: right;
	}
}
@media(max-width: 580px){
	.section-space{
		min-height: 320px;
	}
	.section-space .jump a{
		display: none;
	}
	.parallax-content-height {
		padding: 40px 10px;
	}
	.parallax-window .title{
		font-size: 20px;
	}
}
@media(max-width: 500px){
	.image-container.large {
		max-height: 122px;
		max-width: 122px;
	}
	.left-chunk .btn .trap{
		display: none;
	}
	.right-chunk {
		padding-left: 140px;
	}
}

/*-------------------------------------------------------*/


@-webkit-keyframes rotating{
  from{
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating{
  from{
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}