@charset "utf-8";
/**
* UTILITIES CLASSES
*
* version: 1.7.0
* Última actualizacion: 28sep2013
*/

/*** Display
*/
.over-visible{ overflow: visible }
.over-hidden{ overflow: hidden }
.dis-block{ display: block }
.dis-inline{ display: inline }
.dis-iblock{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

/*** Position
*/
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.pos-fixed{position:fixed;}

/*** Text-align
*/
.text-justify{ text-align: justify }
.text-indent{ text-indent: 1em }

/*** Table-text-align
*/
.text-left td,.text-left th{ text-align: left }
.text-right td,.text-right th{ text-align: right }
.text-justify td,.text-justify th{ text-align: justify }
.text-center td,.text-center th{ text-align: center }
td.text-left,th.text-left{ text-align: left }
td.text-right,th.text-right{ text-align: right }
td.text-justify,th.text-justify{ text-align: justify }
td.text-center,th.text-center{ text-align: center }

/*** Text decoration
*/
.text-underline{ text-decoration: underline }
.text-upper{ text-transform: uppercase }
.text-lower{ text-transform: lowercase }

/*** Icon, Text size
*/
.text-xs, .icon-xs{ font-size: .5em; vertical-align: middle }
.text-sm, .icon-sm{ font-size: .8em; vertical-align: middle }
.text-lg{ font-size: 1.2em}
.text-xl{ font-size: 1.6em; line-height: 1.2em;}
.text-2x{ font-size: 2em }
.text-3x{ font-size: 3em }
.text-4x{ font-size: 4em }
.text-5x{ font-size: 5em }
.text-2x,
.text-3x,
.text-4x,
.text-5x{
	line-height: 1em; 
}

/*** Collapse
*/
.accordion-toggle .icon-expand-alt, .accordion-toggle.collapsed .icon-collapse-alt{ display: none; }
.accordion-toggle .icon-collapse-alt, .accordion-toggle.collapsed .icon-expand-alt{ 	display: inline-block; }

/*** Forms
*/
.placeholder{ color: #aaa!important }
label.required:after { color: #e32; content: ' *'; display:inline }
.help-inline.invalid,
.help-block.invalid{ display: none }
.control-group.error .help-inline.invalid{ display: inline }
.control-group.error .help-block.invalid, .form-group.has-error .help-block.invalid{ display: block }
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn{ padding-top: 6px; padding-bottom: 6px; }

/*** Dropdown
*/
.open > .dropdown-menu.dropdown-menu-block{ width: 100% }

/*** Well color
*/
.well-clear{ background-color: transparent; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.well-dark{ background-color: #333; color: #fff }
.well-light{ background-color: #fefefe; border-color: #ccc }
.well-white{ background-color: #fff; }

/*** Border
* (all, left, right, top, bottom, vertical[top,bottom], horizontal[left,right])
*/
/* border all */
.ba0{ border: none }
.ba1{ border: 1px solid #ccc }
.ba2{ border: 2px solid #ccc }
.ba3{ border: 3px solid #ccc }
.ba4{ border: 4px solid #ccc }
.ba5{ border: 5px solid #ccc }
/* border left */
.bl0{ border-left: none }
.bl1{ border-left: 1px solid #ccc }
.bl2{ border-left: 2px solid #ccc }
.bl3{ border-left: 3px solid #ccc }
.bl4{ border-left: 4px solid #ccc }
.bl5{ border-left: 5px solid #ccc }
/* border right */
.br0{ border-right: none}
.br1{ border-right: 1px solid #ccc }
.br2{ border-right: 2px solid #ccc }
.br3{ border-right: 3px solid #ccc }
.br4{ border-right: 4px solid #ccc }
.br5{ border-right: 5px solid #ccc }
/* border top */
.bt0{ border-top: none }
.bt1{ border-top: 1px solid #ccc }
.bt2{ border-top: 2px solid #ccc }
.bt3{ border-top: 3px solid #ccc }
.bt4{ border-top: 4px solid #ccc }
.bt5{ border-top: 5px solid #ccc }
/* border bottom */
.bb0{ border-bottom: none }
.bb1{ border-bottom: 1px solid #ccc }
.bb2{ border-bottom: 2px solid #ccc }
.bb3{ border-bottom: 3px solid #ccc }
.bb4{ border-bottom: 4px solid #ccc }
.bb5{ border-bottom: 5px solid #ccc }
/* border horizontal */
.bh0{ border-left: none; border-right: none }
.bh1{ border-left: 1px solid #ccc; border-right: 1px solid #ccc }
.bh2{ border-left: 2px solid #ccc; border-right: 2px solid #ccc }
.bh3{ border-left: 3px solid #ccc; border-right: 3px solid #ccc }
.bh4{ border-left: 4px solid #ccc; border-right: 4px solid #ccc }
.bh5{ border-left: 5px solid #ccc; border-right: 5px solid #ccc }
/* border vertical */
.bv0{ border-top: none; border-bottom: none }
.bv1{ border-top: 1px solid #ccc; border-bottom: 1px solid #ccc }
.bv2{ border-top: 2px solid #ccc; border-bottom: 2px solid #ccc }
.bv3{ border-top: 3px solid #ccc; border-bottom: 3px solid #ccc }
.bv4{ border-top: 4px solid #ccc; border-bottom: 4px solid #ccc }
.bv5{ border-top: 5px solid #ccc; border-bottom: 5px solid #ccc }

/*** Padding
* (all, left, right, top, bottom, vertical[top,bottom], horizontal[left,right])
*/
/* padding all */
 .pa0{ padding:  0px }
 .pa5{ padding:  5px }
.pa10{ padding: 10px }
.pa15{ padding: 15px }
.pa20{ padding: 20px }
.pa25{ padding: 25px }
.pa30{ padding: 30px }
.pa35{ padding: 35px }
.pa40{ padding: 40px }
.pa45{ padding: 45px }
.pa50{ padding: 50px }
/* padding left */
 .pl0{ padding-left:  0px }
 .pl5{ padding-left:  5px }
.pl10{ padding-left: 10px }
.pl15{ padding-left: 15px }
.pl20{ padding-left: 20px }
.pl25{ padding-left: 25px }
.pl30{ padding-left: 30px }
.pl35{ padding-left: 35px }
.pl40{ padding-left: 40px }
.pl45{ padding-left: 45px }
.pl50{ padding-left: 50px }
/* padding right */
 .pr0{ padding-right:  0px }
 .pr5{ padding-right:  5px }
.pr10{ padding-right: 10px }
.pr15{ padding-right: 15px }
.pr20{ padding-right: 20px }
.pr25{ padding-right: 25px }
.pr30{ padding-right: 30px }
.pr35{ padding-right: 35px }
.pr40{ padding-right: 40px }
.pr45{ padding-right: 45px }
.pr50{ padding-right: 50px }
/* padding top */
 .pt0{ padding-top:  0px }
 .pt5{ padding-top:  5px }
.pt10{ padding-top: 10px }
.pt15{ padding-top: 15px }
.pt20{ padding-top: 20px }
.pt25{ padding-top: 25px }
.pt30{ padding-top: 30px }
.pt35{ padding-top: 35px }
.pt40{ padding-top: 40px }
.pt45{ padding-top: 45px }
.pt50{ padding-top: 50px }
/* padding bottom */
 .pb0{ padding-bottom:  0px }
 .pb5{ padding-bottom:  5px }
.pb10{ padding-bottom: 10px }
.pb15{ padding-bottom: 15px }
.pb20{ padding-bottom: 20px }
.pb25{ padding-bottom: 25px }
.pb30{ padding-bottom: 30px }
.pb35{ padding-bottom: 35px }
.pb40{ padding-bottom: 40px }
.pb45{ padding-bottom: 45px }
.pb50{ padding-bottom: 50px }
/* padding vertical */
 .pv0{ padding-top:   0px; padding-bottom:  0px }
 .pv5{ padding-top:   5px; padding-bottom:  5px }
.pv10{ padding-top:  10px; padding-bottom: 10px }
.pv15{ padding-top:  15px; padding-bottom: 15px }
.pv20{ padding-top:  20px; padding-bottom: 20px }
.pv25{ padding-top:  25px; padding-bottom: 25px }
.pv30{ padding-top:  30px; padding-bottom: 30px }
.pv35{ padding-top:  35px; padding-bottom: 35px }
.pv40{ padding-top:  40px; padding-bottom: 40px }
.pv45{ padding-top:  45px; padding-bottom: 45px }
.pv50{ padding-top:  50px; padding-bottom: 50px }
/* padding horizontal */
 .ph0{ padding-left:   0px; padding-right:  0px }
 .ph5{ padding-left:   5px; padding-right:  5px }
.ph10{ padding-left:  10px; padding-right: 10px }
.ph15{ padding-left:  15px; padding-right: 15px }
.ph20{ padding-left:  20px; padding-right: 20px }
.ph25{ padding-left:  25px; padding-right: 25px }
.ph30{ padding-left:  30px; padding-right: 30px }
.ph35{ padding-left:  35px; padding-right: 35px }
.ph40{ padding-left:  40px; padding-right: 40px }
.ph45{ padding-left:  45px; padding-right: 45px }
.ph50{ padding-left:  50px; padding-right: 50px }

/*** Margin
* (all, left, right, top, bottom, vertical[top,bottom], horizontal[left,right])
*/
/* margin all */
.m0auto{margin: 0 auto }
 .ma0{ margin:  0px }
.ma10{ margin: 10px }
.ma15{ margin: 15px }
.ma20{ margin: 20px }
.ma25{ margin: 25px }
.ma30{ margin: 30px }
.ma35{ margin: 35px }
.ma40{ margin: 40px }
.ma45{ margin: 45px }
.ma50{ margin: 50px }
/* margin left */
 .ml0{ margin-left:  0px }
 .ml5{ margin-left:  5px }
.ml10{ margin-left: 10px }
.ml15{ margin-left: 15px }
.ml20{ margin-left: 20px }
.ml25{ margin-left: 25px }
.ml30{ margin-left: 30px }
.ml35{ margin-left: 35px }
.ml40{ margin-left: 40px }
.ml45{ margin-left: 45px }
.ml50{ margin-left: 50px }
/* margin right */
 .mr0{ margin-right:  0px }
 .mr5{ margin-right:  5px }
.mr10{ margin-right: 10px }
.mr15{ margin-right: 15px }
.mr20{ margin-right: 20px }
.mr25{ margin-right: 25px }
.mr30{ margin-right: 30px }
.mr35{ margin-right: 35px }
.mr40{ margin-right: 40px }
.mr45{ margin-right: 45px }
.mr50{ margin-right: 50px }
/* margin top */
 .mt0{ margin-top:  0px }
 .mt5{ margin-top:  5px }
.mt10{ margin-top: 10px }
.mt15{ margin-top: 15px }
.mt20{ margin-top: 20px }
.mt25{ margin-top: 25px }
.mt30{ margin-top: 30px }
.mt35{ margin-top: 35px }
.mt40{ margin-top: 40px }
.mt45{ margin-top: 45px }
.mt50{ margin-top: 50px }
/* margin bottom */
 .mb0{ margin-bottom:  0px }
 .mb5{ margin-bottom:  5px }
.mb10{ margin-bottom: 10px }
.mb15{ margin-bottom: 15px }
.mb20{ margin-bottom: 20px }
.mb25{ margin-bottom: 25px }
.mb30{ margin-bottom: 30px }
.mb35{ margin-bottom: 35px }
.mb40{ margin-bottom: 40px }
.mb45{ margin-bottom: 45px }
.mb50{ margin-bottom: 50px }
/* margin vertical */
 .mv0{ margin-top:   0px; margin-bottom:  0px }
 .mv5{ margin-top:   5px; margin-bottom:  5px }
.mv10{ margin-top:  10px; margin-bottom: 10px }
.mv15{ margin-top:  15px; margin-bottom: 15px }
.mv20{ margin-top:  20px; margin-bottom: 20px }
.mv25{ margin-top:  25px; margin-bottom: 25px }
.mv30{ margin-top:  30px; margin-bottom: 30px }
.mv35{ margin-top:  35px; margin-bottom: 35px }
.mv40{ margin-top:  40px; margin-bottom: 40px }
.mv45{ margin-top:  45px; margin-bottom: 45px }
.mv50{ margin-top:  50px; margin-bottom: 50px }
/* margin horizontal */
 .mh0{ margin-left:   0px; margin-right:  0px }
 .mh5{ margin-left:   5px; margin-right:  5px }
.mh10{ margin-left:  10px; margin-right: 10px }
.mh15{ margin-left:  15px; margin-right: 15px }
.mh20{ margin-left:  20px; margin-right: 20px }
.mh25{ margin-left:  25px; margin-right: 25px }
.mh30{ margin-left:  30px; margin-right: 30px }
.mh35{ margin-left:  35px; margin-right: 35px }
.mh40{ margin-left:  40px; margin-right: 40px }
.mh45{ margin-left:  45px; margin-right: 45px }
.mh50{ margin-left:  50px; margin-right: 50px }

/*** Border Rounded
* (all, top-left, top-right, bottom-left, bottom-right)
*/
/* border rounded all */
 .ra0{ -webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px }
 .ra3{ -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px }
 .ra5{ -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px }
 .ra8{ -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px }
.ra10{ -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px }
.ra13{ -webkit-border-radius:13px;-moz-border-radius:13px;border-radius:13px }
.ra15{ -webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px }
/* border rounded top-left (mixed) */
 .rtl0, .rvt0, .rhl0{ -webkit-border-top-left-radius: 0px;-moz-border-radius-topleft: 0px;border-top-left-radius: 0px }
 .rtl3, .rvt3, .rhl3{ -webkit-border-top-left-radius: 3px;-moz-border-radius-topleft: 3px;border-top-left-radius: 3px }
 .rtl5, .rvt5, .rhl5{ -webkit-border-top-left-radius: 5px;-moz-border-radius-topleft: 5px;border-top-left-radius: 5px }
 .rtl8, .rvt8, .rhl8{ -webkit-border-top-left-radius: 8px;-moz-border-radius-topleft: 8px;border-top-left-radius: 8px }
.rtl10,.rvt10, .rhl10{ -webkit-border-top-left-radius:10px;-moz-border-radius-topleft:10px;border-top-left-radius:10px }
.rtl13,.rvt13, .rhl13{ -webkit-border-top-left-radius:13px;-moz-border-radius-topleft:13px;border-top-left-radius:13px }
.rtl15,.rvt15, .rhl15{ -webkit-border-top-left-radius:15px;-moz-border-radius-topleft:15px;border-top-left-radius:15px }
/* border rounded top-right (mixed) */
 .rtr0, .rvt0, .rhr0{ -webkit-border-top-right-radius: 0px;-moz-border-radius-topright: 0px;border-top-right-radius: 0px }
 .rtr3, .rvt3, .rhr3{ -webkit-border-top-right-radius: 3px;-moz-border-radius-topright: 3px;border-top-right-radius: 3px }
 .rtr5, .rvt5, .rhr5{ -webkit-border-top-right-radius: 5px;-moz-border-radius-topright: 5px;border-top-right-radius: 5px }
 .rtr8, .rvt8, .rhr8{ -webkit-border-top-right-radius: 8px;-moz-border-radius-topright: 8px;border-top-right-radius: 8px }
.rtr10,.rvt10,.rhr10{ -webkit-border-top-right-radius:10px;-moz-border-radius-topright:10px;border-top-right-radius:10px }
.rtr13,.rvt13,.rhr13{ -webkit-border-top-right-radius:13px;-moz-border-radius-topright:13px;border-top-right-radius:13px }
.rtr15,.rvt15,.rhr15{ -webkit-border-top-right-radius:15px;-moz-border-radius-topright:15px;border-top-right-radius:15px }
/* border rounded bottom-left (mixed) */
 .rbl0, .rvb0, .rhl0{ -webkit-border-bottom-left-radius: 0px;-moz-border-radius-bottomleft: 0px;border-bottom-left-radius: 0px }
 .rbl3, .rvb3, .rhl3{ -webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-left-radius: 3px }
 .rbl5, .rvb5, .rhl5{ -webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-left-radius: 5px }
 .rbl8, .rvb8, .rhl8{ -webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-left-radius: 8px }
.rbl10,.rvb10,.rhl10{ -webkit-border-bottom-left-radius:10px;-moz-border-radius-bottomleft:10px;border-bottom-left-radius:10px }
.rbl13,.rvb13,.rhl13{ -webkit-border-bottom-left-radius:13px;-moz-border-radius-bottomleft:13px;border-bottom-left-radius:13px }
.rbl15,.rvb15,.rhl15{ -webkit-border-bottom-left-radius:15px;-moz-border-radius-bottomleft:15px;border-bottom-left-radius:15px }
/* border rounded bottom-right (mixed) */
 .rbr0, .rvb0, .rhr0{ -webkit-border-bottom-right-radius: 0px;-moz-border-radius-bottomright: 0px;border-bottom-right-radius: 0px }
 .rbr3, .rvb3, .rhr3{ -webkit-border-bottom-right-radius: 3px;-moz-border-radius-bottomright: 3px;border-bottom-right-radius: 3px }
 .rbr5, .rvb5, .rhr5{ -webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomright: 5px;border-bottom-right-radius: 5px }
 .rbr8, .rvb8, .rhr8{ -webkit-border-bottom-right-radius: 8px;-moz-border-radius-bottomright: 8px;border-bottom-right-radius: 8px }
.rbr10,.rvb10,.rhr10{ -webkit-border-bottom-right-radius:10px;-moz-border-radius-bottomright:10px;border-bottom-right-radius:10px }
.rbr13,.rvb13,.rhr13{ -webkit-border-bottom-right-radius:13px;-moz-border-radius-bottomright:13px;border-bottom-right-radius:13px }
.rbr15,.rvb15,.rhr15{ -webkit-border-bottom-right-radius:15px;-moz-border-radius-bottomright:15px;border-bottom-right-radius:15px }

/*** Shadow
*/
.s1{ box-shadow:  0px  0px 5px #aaa;-moz-box-shadow:  0px  0px 5px #aaa;-webkit-box-shadow:  0px  0px 5px #aaa }
.s2{ box-shadow:  3px  3px 3px #aaa;-moz-box-shadow:  3px  3px 3px #aaa;-webkit-box-shadow:  3px  3px 3px #aaa }
.s3{ box-shadow: -3px -3px 3px #aaa;-moz-box-shadow: -3px -3px 3px #aaa;-webkit-box-shadow: -3px -3px 3px #aaa }

/*** Loading
*/
.loading{ background: transparent url(../img/loader.gif) no-repeat  center; }
.loading *{ visibility: hidden }
.loading-layer{ background:transparent url(../img/loading.gif) no-repeat scroll 50% 50%; height:100%; width:100%; position:absolute; top:0; left:0; color:#fff; line-height: 10em; }